@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Serif+JP:wght@200..900&family=Roboto:wght@100..900&display=swap");
$font-notoSans:"Noto Sans JP", sans-serif;
$font-notoSerif:"Noto Serif JP", sans-serif;
$font-roboto:"Roboto", sans-serif;
$font-sans-serif:"Roboto", "Noto Sans JP", Arial, "メイリオ", Meiryo, sans-serif;
